<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591986343837-hbc396p9nb22lkb5o0lar28n7o4k8s8f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591986343837-hbc396p9nb22lkb5o0lar28n7o4k8s8f</string>
	<key>API_KEY</key>
	<string>AIzaSyBqdVnvEn8QvcpnN4O5M6jwb1s0H5T4ueI</string>
	<key>GCM_SENDER_ID</key>
	<string>591986343837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blocToDoApp</string>
	<key>PROJECT_ID</key>
	<string>bloc-todo-ec7bf</string>
	<key>STORAGE_BUCKET</key>
	<string>bloc-todo-ec7bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591986343837:ios:df4a4e68d26752a8b8f974</string>
</dict>
</plist>